<main class='category'>
    <div class='area-title min'>
        <h1 class='title'><%- __('category') %>: <%- titlecase(page.category) %></h1>
    </div>

    <div class='main-content'>
        <%- partial('partial/posts', { posts: page.posts }) %>
    </div>
</main>
