<main>
    <div class='area-title min'>
        <h1 class='title'>Tags</h1>
    </div>

    <div class='main-content'>
        <div class='blog-tags'>
            <% site.tags.filter(tag => tag.posts.first().lang === page.lang).sort('name', -1).each(tag => { %>
                <a href='<%- url_for_lang(tag.path) %>' class='post-tag'>
                    <%- titlecase(tag.name) %>
                </a>
            <% }) %>
        </div>
    </div>
</main>
