<div class='<%- !theme.wikiMode ? 'blog-posts' : 'wiki-posts' %>'>
    <% posts.filter(post => post.lang === page.lang && (post.part === undefined || post.part === 1)).sort('date', -1).each(post => { %>

        <% if(!theme.wikiMode) { %>
            <%- partial('partial/blogPost', { post }) %>
        <% } else { %>
            <%- partial('partial/wikiPost', { post }) %>
        <% } %>

    <% }) %>
</div>
