<div class='<%- !theme.wikiMode ? "blog-posts" : "wiki-posts" %>'>
    <% posts.each(function(post, i) { %>

        <% if(!theme.wikiMode) { %>
            <%- partial('partial/blogPost', { post: post }) %>
        <% } else { %>
            <%- partial('partial/wikiPost', { post: post }) %>
        <% } %>

    <% }) %>
</div>