<div class='<%- !theme.wikiMode ? 'blog-posts' : 'wiki-posts' %>'>
    <% posts.filter(post => post.indexable != false).each(post => { %>

        <% if(!theme.wikiMode) { %>
            <%- partial('partial/blogPost', { post }) %>
        <% } else { %>
            <%- partial('partial/wikiPost', { post }) %>
        <% } %>

    <% }) %>
</div>
