<div class='wiki-post'>
    <a href='<%- url_for(post.path) %>' class='link'><%- post.title %></a>

    <div class='details-bottom'>
        <% post.tags.each(tag => { %>
            <a href='<%- url_for(tag.path) %>' class='post-tag'><%- titlecase(tag.name) %></a>
        <% }) %>
    </div>
</div>
