:root {
	font-size: 60%;

	--color-primary: #8BE9FD;
	--color-text-light: #FFFFFF;
	--color-text-dark: #333333;
	--color-background-light: #FFFFFF;
	--color-background-dark: #010101;
	--color-background-light-dark: #1A2A3A;

	--color-text: var(--color-text-dark);
	--color-background: var(--color-background-light);

	--border-thin: 0.1rem solid var(--color-text);
	--border-thin-light: 0.1rem solid var(--color-text-light);
	--border-broad: 0.2rem solid var(--color-text);
	--border-broad-primary: 0.2rem solid var(--color-primary);

	--selection-effect: brightness(85%);
	--selection-background-color: var(--color-background-light);

	--footer-height: 16rem;

	--color-syntax-1: #F8F8F2;
	--color-syntax-2: #FF79C6;
	--color-syntax-3: #8BE9FD;
	--color-syntax-4: #50FA7B;
	--color-syntax-5: #F1FA8C;
	--color-syntax-6: #FFB86C;
	--color-syntax-7: #BD93F9;
	--color-syntax-8: #6272A4;
	--color-syntax-9: #999999;
	--color-syntax-10: #282A36;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-text: var(--color-text-light);
		--color-background: var(--color-background-dark);
		--selection-background-color: var(--color-background-light-dark);
	}

	img {
		filter: brightness(90%);
	}
}

/* #region default tag styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	outline: none;
}

html, body, main {
	background-color: var(--color-background);
	position: relative;
	max-width: 100vw;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body,
button,
input,
textarea {
	color: var(--color-text);
	font-size: 1.6rem;
	font-weight: 400;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p + p ,
p + ul,
p + ol {
	margin-top: 1.6rem;
}

button, label {
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;
}

a, i {
	color: inherit;
	transition: opacity 0.25s;
}

a:hover,
a:active,
a:focus {
	opacity: 0.9;
}
/* #endregion */

/* #region floating buttons */
.menu-button,
.home-button {
	position: fixed;
	top: 1.6rem;
	width: 3.8rem;
	height: 3.8rem;
	border: var(--border-broad);
    cursor: pointer;	
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1001;
}

	.menu-button:active,
	.menu-button:hover,
	.home-button:active,
	.home-button:hover {
		opacity: 1;
		background-color: var(--selection-background-color);
		filter: var(--selection-effect);
	}

.menu-button {
	right: 1.6rem;
	border-radius: 100%;
	font-size: 2.2rem;
}

	#menu:not(:checked) ~ .menu-button .icon-close,
	#menu:checked ~ .menu-button .icon-menu {
		display: none;
	}

	#menu:checked ~ .menu-button .icon-close {
		display: initial;
	}

.home-button {
    left: 1.6rem;
    border-radius: 0.4rem;
    font-size: 2.4rem;
}
/* #endregion */

/* #region menu */
.menu {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	position: fixed;
	top: 0;
	right: -110%;
	z-index: 1000;
	transition: right 0.05s;
}

	#menu:checked ~ .menu {
		right: 0;
	}

.menu .backdrop {
	position: absolute;
	left: 0;
	width: 10%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1001;
}

.menu .content  {
	position: absolute;
	right: 0;
	width: 90%;
	height: 100%;
	border-left: var(--border-thin-light);
	background-color: var(--color-background-light-dark);
	color: var(--color-text-light);
}

.menu ul {
	list-style: none;
}

.menu .area-logo {
	height: 19.2rem;
	margin-bottom: 0.8rem;
	padding: 1.6rem;
}

.menu .logo {
	border: var(--border-broad);
	border-radius: 100%;
	overflow: hidden;
	margin: 0.8rem auto;
	width: 12rem;
	height: 12rem;
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

	.menu .logo img {
		width: 100%;
		object-fit: contain;
	}

.menu .title {
	font-size: 2.8rem;
	text-align: center;
	font-weight: bold;
}

.menu .link {
	display: block;
	width: 100%;
	height: 4.8rem;
	border-bottom: var(--border-thin-light);
	padding: 0.8rem 1.6rem;
	font-size: 2rem;
	text-decoration: none;
	font-weight: bold;
	display: flex;
	align-items: center;
}

	.menu .link.group {
		padding-left: 2.4rem;
	}

	.menu .link i {
		margin-right: 0.8rem;
	}

	.menu li:first-child .link {
		border-top: var(--border-thin-light);
	}

	.menu .link.selected,
	.menu .link:hover,
	.menu .link:active {
		background-color: var(--color-primary);
	}

	.menu .link.categories-item {
		padding-left: 2rem;
	}

#categories:not(:checked) ~ .link[for='categories'] i {
	transform: rotate(180deg);
}

	.menu .categories-item {
		display: none;
	}

	#categories:checked ~ .categories-item {
		display: initial;
	}

@media (min-width: 600px) {
	.menu {
		max-width: 30%;
		min-width: 30rem;
	}

	.menu .content {
		width: 100%;
	}

	.menu .backdrop {
		display: none;
	}

	#menu:checked ~ main,
	#menu:checked ~ footer {
		width: 70%;
	}
}
/* #endregion */

/* #region area-title */
.area-title {
	min-height: 20.8rem;
	border-bottom: var(--border-thin);
    padding: 5.2rem 2.4rem 0 2.4rem;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

	.area-title.home {
		padding-bottom: 2.4rem;
	}

	.area-title.min {
		min-height: 12rem;
	}

.area-title .title {
	font-size: 4rem;
}

	.area-title.home .title {
		font-size: 4.8rem;
	}

.area-title .description {
	margin-top: 1.6rem;
	font-size: 2.2rem;
}

@media (min-width: 600px) {
	.area-title {
		padding: 2.4rem 2.4rem 0 2.4rem;
	}

	.area-title .title {
		padding: 0 4rem;
	}

	.area-title .description {
		margin-top: 3.2rem;
	}
}
/* #endregion */

/* #region post-details */
.post-details {
	width: calc(100% + 4.8rem);
	margin: 1.6rem -2.4rem 0 -2.4rem;
	border-top: var(--border-thin);
	padding: 1.6rem 1.6rem 1.6rem 25%;
	font-size: 1.8rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.post-details .group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.4rem;
}

	.post-details .group + .group {
		margin-top: 0.8rem;
	}

.post-details .info {
	margin-right: 0.4rem;
	font-size: 2.2rem;
	font-weight: bold;
}

.post-details .date {
	font-size: 2.2rem;
}

@media (min-width: 600px) {
	.post-details {
		padding: 1.6rem;
		flex-direction: row;
		align-items: center;
	}

	.post-details .group + .group {
		margin: 0 0 0 1.2rem;
		border-left: var(--border-thin);
		padding-left: 1.2rem;
	}
}
/* #endregion */

/* #region post-category/post-tag */
.post-category,
.post-tag {
	padding: 0.4rem 0.8rem;
	color: var(--color-text-light);
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

	.post-category:active,
	.post-category:hover,
	.post-tag:active,
	.post-tag:hover {
		filter: var(--selection-effect);
	}

.post-category {
	border: var(--border-broad);
	border-radius: 0.2rem;
	background-color: var(--color-primary);
}

.post-tag {
	border-radius: 0.8rem;
	padding: 0.4rem 0.8rem;
	background-color: var(--color-primary);
}
/* #endregion */

/* #region footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
	border-top: var(--border-thin);
    padding: 1.6rem;
    background-color: var(--color-background-light-dark);
	color: var(--color-text-light);
	font-size: 1.8rem;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer p {
	margin: 0;
}

footer p a:hover,
footer p a:active {
    padding: 0.2rem;
	border: var(--border-broad);
	border-radius: 0.2rem;
}

footer .back-to-top {
    border: var(--border-broad);
    padding: 0.4rem 0.8rem;
    border-radius: 1.6rem;
    text-decoration: none;
}

	footer .back-to-top:hover,
	footer .back-to-top:active {
		font-weight: bold;
		filter: var(--selection-effect);
	}

@media (min-width: 600px) {
	:root {
		--footer-height: 12.8rem;
	}

	footer br {
		display: none;
	}
}
/* #endregion */

/* #region main-content */
.main-content {
	padding: 1.6rem 1.6rem calc(var(--footer-height) + 1.6rem) 1.6rem;
	max-width: 100%;
	overflow: hidden;
	font-size: 2.2rem;
}

	.main-content.home-wiki {
		padding: 1.6rem 0 calc(var(--footer-height) + 1.6rem) 0;
		max-width: 100%;
	}

@media (min-width: 600px) {
	.main-content {
		padding: 1.6rem 2.4rem calc(var(--footer-height) + 1.6rem) 2.4rem;
		max-width: 112rem;
		margin: 0 auto;
	}
}

.main-content h2 {
    margin: 3.2rem 0 1.6rem 0;
    font-size: 4rem;
}

	.main-content h2:first-of-type {
		margin-top: 1.6rem;
	}

.main-content p {
	line-height: 2.8rem;
	text-align: left;
}

.main-content ul,
.main-content ol {
	padding-left: 2.4rem;
}

.main-content li {
	font-size: inherit;
}

.main-content > * > li + li {
	margin-top: 1.6rem;
}

.main-content img,
.main-content ul,
.main-content ol,
.main-content figure {
	max-width: 100%;
}

.main-content .part-buttons {
	border-top: var(--border-thin);
	padding-top: 0.8rem;
	margin-top: 0.8rem;
}

.main-content .next,
.main-content .previous {
    border: var(--border-thin);
    border-radius: 0.8rem;
    padding: 0.8rem;
    text-decoration: none;
}

	.main-content .previous {
		float: left;
	}

	.main-content .next {
		float: right;
	}

.main-content .post-music {
	margin-top: 1.6rem;
	border: var(--border-broad-primary);
	border-radius: 0.8rem;
	padding: 1.6rem;
}

	.main-content .post-music h3 {
		color: var(--color-primary);
		font-size: 3.2rem;
		font-weight: bold;
		display: flex;
		align-items: center;
	}

	.main-content .post-music i {
		margin-right: 0.8rem;
		border: var(--border-broad-primary);
		border-radius: 100%;
		padding: 0.4rem;
	}

	.main-content .post-music p {
		margin: 0.8rem 0;
	}

	.main-content .post-music a {
		color: var(--color-primary);
		font-weight: bold;
	}

/* #endregion */

/* #region blog-post */
@media (min-width: 600px) {
	.blog-posts {
		padding: 0 15%;
	}
}

.blog-post {
	display: block;
	padding: 1.6rem;
	border: var(--border-thin);
	border-radius: 0.8rem;
}

	.blog-post + .blog-post {
		margin-top: 1.6rem;
	}

.blog-post .details-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

	.blog-post .details-top .date {
		font-size: 2rem;
	}

.blog-post .link {
	text-decoration: none;
}

	.blog-post .link:hover,
	.blog-post .link:active {
		text-decoration: underline;
	}

.blog-post .title {
	font-size: 2.4rem;
}

.blog-post .synopsis {
	font-size: 1.8rem;
}

.blog-post .details-bottom {
	margin-top: 1.6rem;
}
/* #endregion */

/* #region wiki-post */
.wiki-posts {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.6rem;
}

.wiki-posts-category {
	padding: 1.6rem 0;
	overflow-x: auto;
}

	.wiki-posts-category + .wiki-posts-category {
		border-top: var(--border-thin);
	}

	.wiki-posts-category .title {
		padding-left: 3.2rem;
		margin: 0 0 1.6rem 0;
		font-size: 2.2rem;
	}

	.wiki-posts-category .posts-line {
		padding: 0 3.2rem;
		flex-basis: 100%;
		display: flex;
		align-items: center;
		gap: 1.6rem;
		overflow-x: auto;
	}

	.wiki-posts-category .posts-line .whitespace:after {
		content: '';
		display: block;
		height: 0.1rem;
		width: 1.2rem;
	  }

.wiki-post {
	min-width: 25.6rem;
	max-width: 25.6rem;
	height: 25.6rem;
	border: var(--border-thin);
	border-radius: 1rem;
	text-align: center;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.wiki-post .link {
	flex: 1;
	padding: 0.8rem;
	font-size: 2.4rem;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

	.wiki-post .link:hover,
	.wiki-post .link:active {
		background-color: var(--selection-background-color);
		text-decoration: underline;
		filter: var(--selection-effect);
	}

.wiki-post .details-bottom {
	border-top: var(--border-thin);
	padding: 0.8rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.4rem;
}
/* #endregion */

/* #region blog-tags */
.blog-tags {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.8rem;
}

	.blog-tags .post-tag {
		font-size: 3.6rem;
	}
/* #endregion */

/* #region icomoon */
@font-face {
	font-family: 'icomoon';
	src:  url('icomoon/fonts.eot?a3zlv3');
	src:  url('icomoon/fonts.eot?a3zlv3#iefix') format('embedded-opentype'),
		url('icomoon/fonts.ttf?a3zlv3') format('truetype'),
		url('icomoon/fonts.woff?a3zlv3') format('woff'),
		url('icomoon/fonts.svg?a3zlv3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
	content: "\e900";
}
.icon-faq:before {
	content: "\f128";
}
.icon-close:before {
	content: "\f00d";
}
.icon-music:before {
	content: "\f025";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-arrow:before {
	content: "\f0d8";
}
.icon-heart:before {
	content: "\f004";
	color: rgb(230,0,0);
}
.icon-home:before {
	content: "\f015";
}
.icon-menu:before {
	content: "\f0c9";
}
.icon-text:before {
	content: "\f1ea";
}
/* #endregion */

/* #region syntax highlighting */
/**
* Dracula Theme originally by Zeno Rocha [@zenorocha]
* https://draculatheme.com/
*
* Ported for PrismJS by Albert Vallverdu [@byverdu]
* Modified by Jonathan Santos [@pipocacafeinada] for this theme
*/

code {
	border-radius: 0.8rem;
	padding: 0.1rem 0.4rem;
	background-color: var(--color-syntax-10);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: var(--color-syntax-2);
}

code[class*="language-"],
pre[class*="language-"] {
	padding: 0;
	color: var(--color-syntax-1);
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

 /* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.8rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--color-syntax-10);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--color-syntax-8);
}

.token.punctuation {
	color: var(--color-syntax-1);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--color-syntax-2);
}

.token.boolean,
.token.number {
	color: var(--color-syntax-7);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.function,
.token.inserted {
	color: var(--color-syntax-4);
}

.token.string,
.token.attr-value {
	color: var(--color-syntax-5);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--color-syntax-1);
}

.token.atrule,
.token.class-name {
	color: var(--color-syntax-3);
}

.token.keyword {
	color: var(--color-syntax-2);
}

.token.regex,
.token.important {
	color: var(--color-syntax-6);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*********************************************************
* Line numbers */
pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid var(--color-syntax-9);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: var(--color-syntax-9);
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
/* #endregion */
